extends layout

block content
  h1 About this website

  p. 
    This website aims at helping you train your memory  skills. Some usual challenges are available for you to play (eg: numbers).
    br
    All of it being used under a free code.
  p.
    Still under development.

  a(href="https://github.com/klementc") Find the code here
  p Issues and requests welcome (this is my first try at web development)!