extends layout

block content
  h1 Infos

  p. 
    This website aims at helping you train your memory  skills. Some usual challenges are available for you to play (eg: numbers).
    
  p All of it being free code.
  p.
    Still under development.
  br
  a(href="https://github.com/klementc/memoryTraining") Find the code on github
  hr
  p Issues and requests welcome
  strong  Contact by mail at: clementcourageuxsudan [at] gmail.com
  br
  p Don't hesitate to contact me for corrections (mainly if word dictionnaries should not contain some elements), or to add features (such as a new famous number, or new languages) :)