extends layout

block content
  h1 About this website

  p. 
    This website aims at helping you train your memory  skills. Some usual challenges are available for you to play (eg: numbers).
    
  p All of it being free code.
  p.
    Still under development.

  p Issues and requests welcome (this is my first try at web development)!
  p Contact by mail if you wish: clementcourageuxsudan [at] gmail.com
  a(href="https://github.com/klementc/memoryTraining") Find the code on github

  a(href="https://hub.docker.com/r/klementc/memorytraining") 
    img(alt="Docker Cloud Build Status" src="https://img.shields.io/docker/cloud/build/klementc/memorytraining")
