extends challenge

block data
  h1 Play a Card Game
  hr
  p(class="text-center")
    em(id="time") #{timer} 
    | seconds left!
  strong Seed: #{seed}
  hr
  div(id="memZone" class="table-responsive")
    table(class="table table-striped table-hover table-bordered")
      thead
      tbody
        - var i = 0
        each c in cards
          if i % group_by == 0
            tr
          td
            img(src="/images/cards/"+c width="100" height="150") 
          - i++