extends layout

block content
  h1 #{title}
  strong Dictionnaries might contain some words that shouldn't be there, in this case, send me a mail (contact@memgames.net) notifying me of modifications to do, thanks! 
  br
  button(type="button" class="float-right btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Rules
  div(id="myModal" class="modal fade" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal") &times;
          h4(class="modal-title") Rules
        div(class="mobal-body")
          | This game consists in remembering words that appear temporarily on the screen, one by one.
          br
          | Select the amount of words and the duration of each of them on your screen.
          br
          | When you click on submit, words will appear and you will have a "duration" seconds to remember them.
          br
          | Once time is up, enter all the words you remember (in order, if you forgot some, put a random word instead), and validate to obtain your score!
          br
          strong sidenote: 
          | the seed is an integer used for data generation. If you put the same seed for several games, you will have the same words (this can be used to replay, or play the same game as a friend).
  hr

  form(method='POST' action='')
    div.form-group
      label(for='amount') Number of words:
      input#amount.form-control(type='number', placeholder='10', name='amount', value=(undefined===amount ? '10' : amount.name))

      label(for='duration') Duration per word (s):
      input#duration.form-control(type='number', placeholder='3', name='duration', value=(undefined===duration ? '3' : duration.name))

      label(for='seed') Seed (optional):
      input#seed.form-control(type='number', step="any", placeholder='', name='seed', value=(undefined===seed ? '' : seed.name))
      
      input(name="task" value="play" type="hidden")

      br
      br
      label(for="language") Language:
      select(class="language" name="language")
        option(value="en-us") English
        option(value="fr") Français

    button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg