extends layout

block content
  h1= title
  p Welcome to #{title}.
  hr
  p Use this website to train your memory.
  
  ul
    li
      a(href='/game/numbers/create') Decimal Numbers
    li 
      | (More to come)
      
