extends layout

block content
  h1= title
  p Welcome to #{title}.
  hr
  p Use this website to train your memory.
  
  ul
    li
      a(href='/game/numbers/') Numbers (base 10 / binary)
    li
      a(href='/game/words/') Words 
    li
      a(href='/game/pi/') Recall PI (and other remarkable numbers)
    li
      | (More to come)
      
