extends layout

block content
  h1= title
  p Welcome to #{title}.
  hr
  p Use this website to train your memory.
  
  ul
    li
      | Decimal Numbers
    li 
      | Binary Numbers
    li
      | Words
      
