doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(data-spy="scroll" data-target=".navbar" data-offset="50")
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav list-group')
              li(class='list-group-item')
                a(href='/')
                  img(class='img-fluid img-thumbnail' src='/images/logo.png' alt='home')
              if user
                li(class='list-group-item')
                  a(href='/dashboard') #{user.username} [profile]
                li(class='list-group-item')
                  a(href='/logout') Logout
              else
                li(class='list-group-item')
                  a(href='/login') Login
                li(class='list-group-item')
                  a(href='/register') Register
              br
              li(class='list-group-item list-group-item-info') 
                strong Challenges:
              li(class='list-group-item')
                a(href='/game/numbers/') Memorize Numbers
              li(class='list-group-item')
                a(href='/game/words/') Memorize Words
              li(class='list-group-item')
                a(href='/game/pi') Memorize famous numbers
              li(class='list-group-item')
                a(href='/game/flash_words') Flash words
              li(class='list-group-item')
                a(href='/game/card') Cards (alpha)
              li(class='list-group-item')
                a(href='/game/grid') Grid (alpha)
              li(class='list-group-item')
                a(href='/game/picture') Picture (alpha)
              br
              li(class='list-group-item')
                a(href='/statistics') Stats
              li(class='list-group-item')
                a(href='/about') About/Contact
        div(class='col-sm-10')
          block content