extends layout

block content
  h1 Name and Faces
  strong Pictures taken from the UTKFace dataset!
  br
  button(type="button" class="float-right btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Rules

  div(id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal") &times;
          h4(class="modal-title") Rules
        div(class="modal-body")
          | This game consists in remembering names associated to faces.
          br
          | Select the amount of faces you want to remember and enjoy.
          br
          | Then you will have some time to remember them. Once time is up, enter the name corresponding to each picture.
          br
          strong sidenote: 
          | the seed is an integer used for data generation. If you put the same seed for several games, you will have the same words (this can be used to replay, or play the same game as a friend).
        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Close

  hr

  form(method='POST' action='')
    div.form-group
      label(for='amount') Number of faces:
      input#amount.form-control(type='number', placeholder='10', min=1 max=150 name='amount', value=(undefined===amount ? '10' : amount.name))
      br
      div(class="form-row")
        div(class="form-group col-md-6")
          label(for='durationm') Duration (min)
          input#durationm.form-control(type='number', placeholder='3', min=0 name='durationm', value=(undefined===durationm ? '3' : durationm.name))
        div(class="form-group col-md-6")
          label(for='durations') Duration (sec)
          input#durations.form-control(type='number', placeholder='0', min=0 max=59 name='durations', value=(undefined===durations ? '0' : durations.name))
      br
      label(for='seed') Seed (optional):
      input#seed.form-control(type='number', step="any", placeholder='', name='seed', value=(undefined===seed ? '' : seed.name))
      br

      button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg