extends challenge

block data
  div(id="memZone" class="table-responsive")
    table(class="table table-striped table-bordered")
      thead
      tbody
        - var i = 0
        each c,d in faces
          if i % 3 == 0
            tr
          td
            img(src="/names/pics/"+c width="100" height="150") 
            br
            strong #{(names[d]+"").toLowerCase()}
          - i++