extends verify

block verif
  form(method='POST' action='')  
    div.form-group
      thead
      tbody
        - var i = 0
        each c in faces
          if i % 3 == 0
            div(class="form-group-row")
          div(class="col-md-2")
            img(src="/names/pics/"+c width="100" height="150" class="center-block") 
            if nList && recall
              strong(class="text-center") #{(names[i]+"").toLowerCase()}
            else
              input(name=c[0] type="input" class="form-control" autocomplete='off')
          - i++
    br
    if !(recall && nList)
      button.btn.btn-primary(type='submit') Submit