extends layout

block content
  h1 #{title}
  button(type="button" class="float-right btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Rules
  div(id="myModal" class="modal fade" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal") &times;
          h4(class="modal-title") Rules
        div(class="mobal-body")
          | This game consists in remembering sets of numbers.
          br
          | Select the amount of sets you want to remember, as well as their size.
          br
          | You can choose to use binary or decimal digits.
          br
          | Then you will have some time to remember them. Once time is up, enter all these numbers (without space) in the recall box.
          br
          strong sidenote: 
          | the seed is an integer used for data generation. If you put the same seed for several games, you will have the same words (this can be used to replay, or play the same game as a friend).
  hr

  form(method='POST' action='')
    div.form-group
      label(for='amount') Number of lines:
      input#amount.form-control(type='number', placeholder='10', name='amount', min=0 value=(undefined===amount ? '10' : amount.name))
      br
      label(for='group_by') Digits per line:
      input#group_by.form-control(type='number',
      placeholder='6', name='group_by', min=0 value=(undefined===group_by ? '6' : group_by.name))
      br
      div(class="form-row")
        div(class="form-group col-md-6")
          label(for='durationm') Duration (min)
          input#durationm.form-control(type='number', placeholder='3', min=0 name='durationm', value=(undefined===durationm ? '3' : durationm.name))
        div(class="form-group col-md-6")
          label(for='durations') Duration (sec)
          input#durations.form-control(type='number', placeholder='0', min=0 max=59 name='durations', value=(undefined===durations ? '0' : durations.name))
      br
      label(for='seed') Seed (optional):
      input#seed.form-control(type='number', step="any", placeholder='', name='seed', min=0 value=(undefined===seed ? '' : seed.name))
      br
      label(for="base") Base:
      select#base.form-control(class="base" name="base")
        option(value="decimal") decimal
        option(value="binary") binary
      br
      button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg