extends challenge

block data
  div(id="memZone" class="table-responsive")
    table(class="table table-striped table-hover table-bordered")
      thead
        tr
          th(scope='col') # Row
          th(scope='col') Numbers
      tbody
        each n, index in number_list
          tr
            th(scope='row') #{index}
            td
              each number in n
                | #{number} 