extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='amount') Number of lines:
      input#amount.form-control(type='number', placeholder='10', name='amount', value=(undefined===amount ? '10' : amount.name))

      label(for='group_by') Line size:
      input#group_by.form-control(type='number',
      placeholder='6', name='group_by', value=(undefined===group_by ? '6' : group_by.name))
    button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg