extends layout

block content
  h1 Other Challenges
  hr

  p In addition to the usual challenges you can find on other memory training websites, here you can find a set of other 'funny' challenges for your memory!
  
  p Most of them are not counted in your total score and do not reward xp. If you have some new challenge ideas, or want me to work more on the existing ones (more options, more content...), or would really like some of them to be counted on your profile, don't hesitate to contact me!
  ul
    li
      a(href="/game/weekday/") Weekdays: find the day corresponding to a date
    li
      a(href="/game/grid") Grid: Remember activated cells in a grid (experimental)
    li
      a(href="/game/picture") Picture: Remember which elements are present or not in a picture 