extends layout

block content
  h1 #{title}

  button(type="button" class="float-right btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Rules

  div(id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal") &times;
          h4(class="modal-title") Rules
        div(class="modal-body")
          | This game consists in remembering famous numbers.
          br
          | Select the number you want to learn or recall.
          br
          | If you choose to learn, the requested digits will be shown to you, if you choose to recall, you will be prompted to enter the digits your specified!
          br
          strong sidenote: 
          | the seed is an integer used for data generation. If you put the same seed for several games, you will have the same words (this can be used to replay, or play the same game as a friend).
        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Close
  hr
  p Learn or recall up to 50K decimals of famous remarkable numbers (digit 0 = first digit after the dot). 
   
  p Decimals of pi have been taken from 
    a(href="https://thestarman.pcministry.com/math/pi/picalcs.htm") thestarman.pcministry.com
  p Golden ratio values taken from 
    a(href='http://www.goldenratio.org/') goldenratio.org

  form(method='POST' action='')
    div.form-group
      label(for='from') From (first digit, default 0):
      input#from.form-control(type='number', placeholder='0', min=0 name='from', value=(undefined===from ? 0 : from.name))
      br
      label(for='nbLines') Number of lines:
      input#nbLines.form-control(type='number', placeholder='10', min=1 name='nbLines', value=(undefined===nbLines ? '10' : nbLines.name))
      br
      label(for='group_by') Digits per line:
      input#group_by.form-control(type='number',
      placeholder='6', min=1 name='group_by', value=(undefined===group_by ? '6' : group_by.name))
      br
      label(for='number') Number:
      select#number.form-control(class="number" name="number")
        option(value="Pi") Pi
        option(value="Phi") Golden ratio
        option(value="Sq2") Square root of 2
      br
      label(for="task") Task:
      select#task.form-control(class="task" name="task")
        option(value="learn") learn
        option(value="recall") recall
      br
      button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg