extends layout

block content
  h1 #{title}
  hr

  p Learn or recall up to 50K decimals of pi (digit 0 = 1, digit 1 = 4...). Decimals have been taken from 
    a(href="https://thestarman.pcministry.com/math/pi/picalcs.htm") thestarman.pcministry.com

  form(method='POST' action='')
    div.form-group
      label(for='from') From (first digit, default 0):
      input#from.form-control(type='number', placeholder='0', name='from', value=(undefined===from ? 0 : from.name))

      label(for='nbLines') Number of lines:
      input#nbLines.form-control(type='number', placeholder='10', name='nbLines', value=(undefined===nbLines ? '10' : nbLines.name))

      label(for='group_by') Digits per line:
      input#group_by.form-control(type='number',
      placeholder='6', name='group_by', value=(undefined===group_by ? '6' : group_by.name))

      br
      br
      label(for="task") Task:
      select(class="task" name="task")
        option(value="learn") learn
        option(value="recall") recall

    button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg