extends layout

block content
  h1= title
  hr
  p Digits starting from the #{from}'th decimal.
  hr

  div(id="memZone" class="table-responsive")
    table(class="table table-striped table-hover table-bordered")
      thead
        tr
          th(scope='col') # Decimal
          th(scope='col') values
      tbody
        - var l = 0
        while l < nbLines
          tr
          - var index = Number(from)+(l*group_by)
          th(scope='row') #{index}
          td
            each c in numList[l]
              | #{c} 
              - c++
          - l++