extends layout

block content
  div
    h1= title
    button(type="button" class="float-right btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Rules
    div(id="myModal" class="modal fade" role="dialog")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times;
            h4(class="modal-title") Rules
          div(class="mobal-body")
            | This game consists in remembering a set of pictures.
            br
            | Once time is up, select which pictures you saw, and validate to see your score. A picture correctly checked adds one point, a picture not checked or a picture checked that shouldn't removes one point.
            
  hr

  form(method='POST' action='')
    div.form-group
      label(for='nbPics') Number of pictures:
      input#duration.form-control(type='number', placeholder='20', name='nbPics', min=1 value=(undefined===nbPics ? '20' : nbPics.name))
      br
      label(for='duration') Duration (sec):
      input#duration.form-control(type='number', step="any", placeholder='30',min=1 name='duration', value=(undefined===duration ? '30' : duration.name))
      br
      label(for='seed') Seed:
      input#seed.form-control(type='number', step='any', placeholder='', name='seed', value=(undefined===seed ? '' : seed.name))
      br
      button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg
