extends layout

block content
  h1 Resources
  strong List of links and help tips for new members.
  hr
  h1 Memory steps for beginners
  p 
    |Here is a small list of steps towards better memory performances (on this website or in everyday situations). 
    br
    |Look at the link section to learn more about them, some people already did great work at explaining these techniques!
  ul
    li
      | Learn about memory palaces and how to use them
    li
      | Try to memorize words/shopping list, small data sets
    li
      | Memorize numbers efficiently:
      ul
        li
          | Major system: represent numbers with sounds
        li
          | PAO systems
    li
      | Memorize cards (similar to numbers)
    li
      | Make a 2 digits PAO system (3 when you become very very good, but not before)
  h1 Links
  ul
    li
      a(href="https://artofmemory.com/") Artofmemory: 
      | The Most active website about memory (much more resources can be found there about the different systems etc)
    li
      a(href="https://memoryleague.com") Memoryleague:
      | Play memory competitions with your friends! Similar to this website, but with the competition aspect (and a paid subscription)
  
  
  a(href="")