body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.table-responsive{
  font-size: 170%;
}

.text-center{
  font-size: 200%;
  font-weight: bold;
}
